/* Global */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: 'PT Sans Narrow', sans-serif;
}
/* Nav */
.nav {
  grid-area: nav;
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.nav ul li {
  display: block;
  text-align: center;
  font-family: 'Merienda', cursive;
  font-size: 20px;
  font-weight: 900;
  padding: 10px;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  color: hsl(0, 0%, 0%);
  background-image: linear-gradient(180deg, hsl(62, 78%, 75%), hsl(21, 63%, 61%));
}
.nav ul li.active-page {
  text-decoration: overline solid hsl(0, 0%, 0%);
}
.nav ul li::after {
  content: " ";
  display: block;
  width: 100%;
  background-color: hsl(0, 0%, 0%);
  transition: transform ease-in-out 800ms;
  height: 4px;
  transform: scale(0, 1);
  position: relative;
  border-radius: 60%;
  transform: rotate3d(1, 0, 0, 90deg);
}
.nav ul li:hover::after {
  transform: scale(1, 1);
}
.nav ul li.logo:hover::after {
  transform: scale(0);
}
.nav ul li:hover {
  cursor: pointer;
}
.nav ul li.logo:hover {
  cursor: default;
}
.nav .mobile {
  display: none;
  text-decoration: none;
  list-style-type: none;
  border-bottom: 4px hsl(21, 63%, 61%) solid;
}
.nav .mobile li:hover::after {
  transform: scale(0);
}
.nav .navigationSymbol {
  display: inline-block;
  margin-right: 10px;
  transition: transform 400ms ease-in-out;
  transform: rotate(0deg);
}
.nav .rotate {
  transform: rotate(90deg);
}
/* Home */
.home {
  color: hsl(0, 0%, 21%);
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "jumbo jumbo jumbo" "nav nav nav" "sidebar main main" "footer footer footer";
}
.title {
  grid-area: jumbo;
  height: 60vh;
  position: relative;
}
.jumbo {
  background-image: url("../assets/jumbo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.darken {
  background-color: hsla(0, 0%, 0%, 0.25);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
}
.darken h1 {
  font-size: 60px;
  font-family: 'Merienda', cursive;
  text-align: center;
  padding: 20px;
  color: hsl(0, 0%, 100%);
  text-shadow: 3px 3px 1px hsl(0, 0%, 0%), -3px -3px 1px hsl(0, 0%, 0%);
}
.basic-info {
  grid-area: sidebar;
  padding: 10px;
  margin: 60px 0;
  font-family: 'PT Sans Narrow', sans-serif;
}
.basic-info h2 {
  text-decoration: underline double hsl(62, 78%, 75%);
  margin-bottom: 10px;
  font-size: 32px;
  text-align: left;
  font-family: 'Libre Baskerville', serif;
}
.basic-info ul {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}
.basic-info ul li {
  list-style: circle inside;
  line-height: 1.2em;
  font-weight: 500;
  font-size: 18px;
}
.main {
  grid-area: main;
  margin: 60px 0;
}
.guides {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  font-family: 'PT Sans Narrow', sans-serif;
}
.guides figure {
  width: 300px;
  border: 2px solid hsl(0, 0%, 0%);
  padding: 5px;
}
.guides figure div.flex {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.guides figure div.flex div.img {
  width: 100px;
  height: 100px;
  margin-right: 5px;
  border: 2px solid hsl(0, 0%, 0%);
}
.guides figure div.flex p {
  font-size: 16;
}
/* About */
.shadow {
  max-width: 1200px;
  margin: 0 auto;
  color: hsl(0, 0%, 21%);
}
.directions {
  padding: 20px 10px 20px 0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.directions div.address {
  padding-right: 20px;
}
.directions div.address h2 {
  text-align: left;
  font-family: 'Libre Baskerville', serif;
  font-size: 36px;
  padding: 4px 4px 4px 20px;
  background-color: hsl(0, 0%, 21%);
  border-radius: 0 60px 60px 0;
  color: hsl(0, 0%, 100%);
}
.directions div.address p {
  font-size: 18px;
  padding: 10px;
}
.directions iframe {
  width: 100%;
  height: 100%;
  border: 2px solid hsl(0, 0%, 21%);
}
.yep {
  padding: 0 10px 10px;
}
.yep button {
  text-align: center;
  font-size: 20px;
  font-family: 'Libre Baskerville', serif;
  padding: 6px;
  position: relative;
  background-image: radial-gradient(circle, hsl(62, 78%, 75%), hsl(21, 63%, 61%));
  border: 6px groove hsl(0, 0%, 21%);
}
.yep button:hover {
  cursor: pointer;
}
.yep button:focus {
  outline: none;
  top: 2px;
  left: 2px;
}
.yep h1 {
  font-size: 80px;
  padding-bottom: 10px;
  font-family: 'Merienda', cursive;
  text-align: center;
  background-color: hsl(0, 0%, 21%);
  color: hsl(0, 0%, 100%);
  border-radius: 0 0 60% 60%;
  margin: 0 10vw 40px 10vw;
}
.yep p {
  text-indent: 20px;
  line-height: 1.4em;
  font-size: 18px;
  font-family: 'PT Sans Narrow', sans-serif;
  margin-bottom: 20px;
}
.yep p strong {
  font-size: 30px;
  font-weight: normal;
}
/* Menu */
.menu {
  background-image: linear-gradient(hsla(0, 0%, 100%, 0.5) 0%, hsla(0, 0%, 100%, 0.5) 100%), linear-gradient(45deg, rgba(229, 128, 66, 0.45) 0%, rgba(229, 128, 66, 0.45) 25%, rgba(212, 160, 112, 0.45) 25%, rgba(212, 160, 112, 0.45) 50%, rgba(195, 191, 157, 0.45) 50%, rgba(195, 191, 157, 0.45) 75%, rgba(178, 223, 203, 0.45) 75%, rgba(178, 223, 203, 0.45) 100%), linear-gradient(135deg, #fbf875 0%, #fbf875 25%, #f6a76e 25%, #f6a76e 50%, #f05566 50%, #f05566 75%, #eb045f 75%, #eb045f 100%);
}
.menu h1.category {
  text-align: left;
  font-family: 'Merienda', cursive;
  font-size: 36px;
  padding: 4px 4px 4px 20px;
  background-color: hsl(0, 0%, 21%);
  border-radius: 0 60px 60px 0;
  color: hsl(0, 0%, 100%);
  margin: 20px 20vw 20px 0;
}
.food {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}
.food .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.food figure {
  width: 300px;
  height: auto;
  border-radius: 0 0 10px 10px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: -4px -4px 2px 2px hsla(0, 0%, 81%, 0.25), 4px 4px 2px 2px hsla(0, 0%, 21%, 0.25);
}
.food figure .top .photo {
  width: 100%;
  height: 300px;
  background-image-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/taterTots.png");
}
.food figure .top div.text {
  padding: 6px;
}
.food figure .top div.text p {
  font-size: 18px;
  font-family: 'Libre Baskerville', serif;
}
.food figure p.description {
  padding: 6px;
}
/* Footer */
.footer {
  grid-area: footer;
  text-align: right;
  color: hsl(0, 0%, 100%);
  padding: 10px;
  width: 100%;
  background-image: radial-gradient(circle, hsl(62, 78%, 75%), hsl(21, 63%, 61%));
}
/* Responsive */
@media screen and (min-width: 1200px) {
  .about .shadow {
    box-shadow: 4px 0 4px 2px hsl(0, 0%, 81%), -4px 0 4px 2px hsl(0, 0%, 81%);
  }
}
@media screen and (max-width: 1000px) {
  .food {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .guides {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .guides figure {
    margin: 20px 0;
  }
}
@media screen and (max-width: 800px) {
  .directions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .directions div {
    margin: 0;
    width: 100%;
  }
  .directions div iframe {
    height: 80vw;
  }
  .directions div.map {
    margin: 40px 0 0 10px;
  }
}
@media screen and (max-width: 700px) {
  .food {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 600px) {
  .home {
    grid-template-areas: "jumbo jumbo jumbo" "main main main" "sidebar sidebar sidebar" "footer footer footer";
  }
  .darken h1 {
    font-size: 40px;
  }
  .nav .desktop {
    display: none;
  }
  .nav .mobile {
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 4px solid hsl(0, 0%, 0%);
  }
  .basic-info {
    text-align: center;
  }
  .nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    top: auto;
  }
  .nav .desktop {
    background-image: linear-gradient(180deg, hsl(62, 78%, 75%), hsl(21, 63%, 61%));
  }
  .nav .desktop li {
    background: none;
  }
  .nav .desktop li:hover::after {
    transform: scale(0);
  }
  .food {
    padding: 10px;
    grid-gap: 10px;
  }
}
